
*.cache
/Source/RV2-Esegn-CPI/.idea
/Source/RV2-Esegn-CPI/obj
Source/RV2-Esegn-CPI/RV2-Esegn-CPI.sln.DotSettings.user
design notes.txt
Source/RV2-Esegn-Additions/RV2-Esegn-Additions.sln.DotSettings.user
Source/RV2-Esegn-Additions/RV2-Esegn-CPI.sln.DotSettings.user
/Source/RV2-Esegn-Additions/obj
/Source/RV2-Esegn-Additions/.idea
